<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ErukaLearn</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="<%= process.env.SELF_EJS_API_URL %>/css/student-login.css" type="text/css">
    <script src="https://kit.fontawesome.com/ad778f42b3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        <% if(error == "wrong_password") { %>
            <script>swal({title: "Invalid",text: "Username or password",icon: "warning", dangerMode: true});</script>
        <% } else {
                if(error == "right_password") { %>
                    <script>swal({title: "Good job!",text: "Wait a moment..",icon: "success",});</script>
                <% }
                if(error == "wrong_captcha") { %>
                    <script>swal({title: "Invalid",text: "Captcha resolver",icon: "warning", dangerMode: true});</script>
                <% } 
                if(error == "internal_server_error") { %>
                    <script>swal({title: "Internal Server Error",text: "Undefined resolution!",icon: "warning", dangerMode: true});</script>
                <% }
            } %>   
    </div>
    <div class="container-fluid">
        <div class="row" id="row1">
            <img src="https://media.iuh.edu.vn/Media/2_sviuh/Images/logo-svd516f114-e-e.png" alt="sv-iuh-logo" width="100%" height="100%" class="img-thumbnail">
        </div>
        <div class="row" id="row2">
            <div class="col-lg-8 p-3 overflow-auto" id="pane-left">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item" id="nav-item-left">
                        <a class="nav-link active" href="javascript:void(0);" id="nav-link-left">THÔNG BÁO GẦN ĐÂY</a>
                    </li>
                    <li class="nav-item" id="nav-item-right">
                        <a class="nav-link" href="javascript:void(0);" id="nav-link-right">THÔNG TIN GIỜ HỌC</a>
                    </li>

                </ul>
                <div id="content-tab1">
                    <%
                        function cal_post_day_ago(dateStr) {
                            // const dateStr = "Sun Dec 25 2022 00:00:00 GMT+0700 (Indochina Time)"
                            const d = new Date(dateStr);
                            const d2 = new Date();
                            const diff = Math.abs(d2 - d);
                            const one_day=1000*60*60*24;
                            const result = Math.round(diff/one_day);
                            if(result < 10)
                                return "0" + result;
                            return result;
                        }
                    %>
                    <% for(let i=0; i<LIST_ANNOUNCEMENT.length; i++) { %>
                        <div id="OneAnnouncer" class="d-flex">
                            <div class="border" style="width: 20%;">
                                <div class="bg-primary p-3 text-center text-white fs-3"><%= cal_post_day_ago(LIST_ANNOUNCEMENT[i].ngay_xuat_ban) %></div>
                                <div class="fw-light text-center">Ngày trước</div>
                            </div>
                            <div class="px-1" style="width: 80%;">
                                <span class="text-primary fw-bolder"><%= LIST_ANNOUNCEMENT[i].tieu_de %> <span class="small bg-warning badge rounded-circle">mới</span></span><br>
                                <span class="fst-italic small"><%= LIST_ANNOUNCEMENT[i].noi_dung %></span><br>
                                <span class="text-danger text-decoration-underline">Xem chi tiết!</span>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div id="content-tab2" class="d-none">
                    <div id="OneAnnouncer" class="d-flex">
                        <div class="border" style="width: 20%;">
                            <div class="bg-primary p-3 text-center text-white fs-3">00</div>
                            <div class="fw-light text-center">Ngày trước</div>
                        </div>
                        <div class="px-1" style="width: 80%;">
                            <span class="text-primary fw-bolder">CẬP NHẬT LỊCH / GIỜ / TIẾT HỌC MỚI NHẤT CHO TOÀN BỘ SINH VIÊN / GIẢNG VIÊN TOÀN TRƯỜNG IUH <span class="small bg-success badge rounded-circle">mới</span></span><br>
                            <span class="fst-italic small">Đây là <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#LichHocModal">HÌNH ẢNH</a> thông tin chi tiết giờ học & làm việc áp dụng lên cho toàn bộ học sinh, giáo viên và nhân viên của trường đại học công nghiệp IV (IUH).</span><br>
                            <span class="text-danger text-decoration-underline">Xem chi tiết!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-3" id="pane-right">
                <div id="AuthBox" class="p-3 text-primary text-center">
                    <p class="fw-bold fs-3">CỔNG THÔNG TIN SINH VIÊN</p>
                    <p class="fw-bold">ĐĂNG NHẬP HỆ THỐNG</p>
                    <form action="<%= process.env.SELF_EJS_API_URL %>/student-login" method="post" enctype="multipart/form-data" id="myForm">
                        <input type="text" name="ma_sinh_vien" id="ma_sinh_vien" placeholder="Nhập mã sinh viên.." class="my-1 p-2" autofocus required value="1">
                        <input type="password" name="mat_khau" id="mat_khau" placeholder="Nhập mật khẩu.." class="my-1 p-2" required value="123123az">
                        <div class="d-flex my-2" id="captcha-box">
                            <div><input type="text" name="captcha_code" id="captcha_code" placeholder="Nhập mã" class="p-2 m-1" required></div>
                            <div class="d-flex justify-content-center align-items-center"><i class="fa-solid fa-sync fa-spin fa-2x text-dark" onclick="location.reload()" id="refresh-icon"></i></div>
                            <div id="captcha-container" class="captcha-container"></div>    
                        </div>
                        <button type="submit" class="p-3 my-1 text-white">Đăng nhập</button>
                    </form>
                    <a href="javascript:void(0);" id="toastbtn" >Quên mật khẩu?</a>
                    <div class="toast">
                        <div class="toast-header">
                            <strong class="me-auto">Cách lấy lại mật khẩu</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="toast"></button>
                        </div>
                        <div class="toast-body">
                            <p>1. Vui lòng liên hệ trực tiếp Giáo Viên Chủ Nhiệm để được hỗ trợ.</p>
                            <p>2. Liên hệ trực tiếp hoặc offline cho giáo vụ khoa bạn thuộc về để được hỗ trợ.</p>
                            <p>3. Trường hợp viết mail, vui lòng ghi rõ và cẩn thận `Họ tên`, `Mssv` và `Nội dung` để được trợ giúp sớm nhất!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal" id="LichHocModal">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Giờ học</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <img src="https://media.iuh.edu.vn/Media/2_sviuh/Images/e8efd98f-1/hinh-1.png" alt="iuh-gio-hoc" width="100%" height="100%">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Đóng lại</button>
            </div>

        </div>
    </div>
</div>
</body>
<script>
document.cookie = 'session=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
$(document).ready(function(){
    const row1_hei = $("#row1").height();
    const window_hei = $(window).height();
    const minus = window_hei - row1_hei;
    $("#pane-left").css("max-height", parseInt(minus-1));
    $("#nav-item-left").click(function() {
        $("#nav-link-left").attr("class", "nav-link active");
        $("#nav-link-right").attr("class", "nav-link");
        $("#content-tab1").attr("class", "d-block");
        $("#content-tab2").attr("class", "d-none");
    });
    $("#nav-item-right").click(function() {
        $("#nav-link-left").attr("class", "nav-link");
        $("#nav-link-right").attr("class", "nav-link active");
        $("#content-tab1").attr("class", "d-none");
        $("#content-tab2").attr("class", "d-block");
    });

});
fetch("<%= process.env.SELF_EJS_API_URL %>/captcha")
    .then(response => response.text())
    .then(response => {
        const holder = document.getElementById("captcha-container");
        holder.innerHTML = response;
    });
document.getElementById("toastbtn").onclick = function() {
    var toastElList = [].slice.call(document.querySelectorAll('.toast'))
    var toastList = toastElList.map(function(toastEl) {
        return new bootstrap.Toast(toastEl)
    })
    toastList.forEach(toast => toast.show())
}
</script>
</html>